<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
<div class="container">
  <div class="row">

    <h2>Entre em contato</h2>

    <h4>Dúvidas? Sugestões? Críticas? Todo e qualquer contato será muito bem recebido</h4>

    Contato: <em> <a href="mailto:breadbox@breadbox.com.br?Subject=Contato%20BreadBox%20-%20Gemas%20Control" target="_top">Envie E-mail para breadbox@breadbox.com.br</a></em>


  </div>


</div>
