<div class="jumbotron">
  <div class="containerj">
    <div class="center">
    <div class="hero">
        <hgroup>
            <h1>Gemas Control</h1>
              <h2>Seus sistema completo para controle de sua Empresa.</h2>
              <h3>Controle seus clientes, seus produtos e suas vendas.</h3>
        </hgroup>

    </div>
  </div>
</div>

