<p id="notice"><%= notice %></p>

<h1>Dados da Empresa</h1>

<table class="table table-hover table-condensed" id='company_table'>
  <thead>
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Endereço</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>Telefone</th>
      <th>Celular</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
      <% if current_user.id == company.user.id %>
       <%# Render table row partial for each COMPANY object %>
      <%= render partial: 'table_row', locals: {company: company} %>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# Added Bootstrap data modal attribute %>
<%= link_to 'Nova Empresa Modal', '#new_company_path', 'data-toggle' => 'modal' , class: "btn btn-default btn-sm" %>

<!-- Modal -->

<div class="modal fade" id="new_company_path" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Cadastro da Empresa</h4>
      </div>
      <div class="modal-body">

       <%= render 'form', modal: true %>

      </div>

    </div>
  </div>
</div>
